<%- include("partials/header"); -%>





  <div class="container mt-3">
    <div class="row">
      
      <div class="col-12 col-sm-6 ">
     


        <form action="/artikelhinzufuegen" method="post">
          <div class="mb-3">
            <label for="artikelnummer" class="form-label">Artikelnummer</label>
            <input type="number" min="10000000" max="99999999" autofocus name="neuerArtikel" class="form-control" id="artikelnummer"
              required>

          </div>
          
          <button type="submit" class="btn btn-dark my-1 ">Artikel hinzufügen</button>
          <strong><span class="text-danger"><%=errorcode2%></span></strong>
        </form>
        <form action="/neuerBon" method="post">
          <input type="hidden" name="bonNr"  value="<%=bonNummer%>" />
          <button type="submit" class="btn btn-dark my-1">Bon abschließen</button>
          <span class="text-danger"><%=errorcode1%></span>
        </form>
      </div>
      <div class="col-12 col-sm-6">
        
        <h4><span class="px-4">Bon: <%=bonNummer%>   </span></h4>
        <h1>
          <script>
            zahl = <%=summe %>
            document.write(Number(zahl/100).toFixed(2).replace('.', ',') + " €");
          </script>
</h1>
        
        <ul class="list-group list-group-flush">
          <script>let zahl
            let zahlstring;
            let counter = 0;
          </script>
          <% artikels.forEach(function(artikel){%>
            <script>
              counter++;
            </script>
            <form action="/artikelstornieren" method="post">

              <li class="list-group-item d-flex w-100 justify-content-between">
                <script>document.write(counter);</script> - 
                  <%=artikel.nummer%> - 
                  <strong>
                  <script>
                    zahl = <%=artikel.nummer %>
                      zahlstring = zahl.toString();

                     document.write(Number(zahlstring.slice(4)/100).toFixed(2).replace('.', ',') + " €");
                  </script></strong>
                              <span>
                              <input type="hidden" name="artikelId" id="firstFormArt" value="<%=artikel.id%>" /> 
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                                </svg>
                            </button>
                        
                        </span>
              </li>

            

              

              
          </form>

            <% })%>
        </ul>
      </div>
    </div>
  </div>



  <%- include("partials/footer"); -%>